.conteiner {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.search-form {
  //   position: absolute;
  display: block;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.searh-input {
  height: 40px;
  width: 300px;
  margin-left: 400px;
}

.search-btn {
  position: relative;
  height: 40px;
  width: 100px;
}

.search-form_wrapper {
  position: relative;
  background-color: darkseagreen;
}
